<div class="row mt-5">
  <div class="col-md-3 mx-auto">
    <form (submit)="login($event)" class="form-signin mt-5">
      <p class="text-center">
      <img class="mb-4" src="https://is4-ssl.mzstatic.com/image/thumb/Purple113/v4/1b/d8/09/1bd809e8-c4c6-5d03-5d18-9558053ae36c/TodoAppIcon-0-1x_U007emarketing-0-0-85-220-0-10.png/246x0w.png" alt="" width="90"> </p>
      <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
      <label for="inputEmail" class="sr-only">User Name</label>
      <input type="text" id="username" name="username" class="form-control mb-2" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control mb-2" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
</div>

